<div class="container">
  <h1>List of Servers</h1>
  <label>Server name:</label>
<!-- send one way event  <input type="text" class="form-control" (input)="onUpdateServerName($event)">-->
  <input type="text" class="form-control" [(ngModel)]="serverName">
  <button type="button"
          class="btn btn-primary"
          [disabled]="serverName === ''"
          (click)="onCreateServer()">Add Server
  </button>
  <button type="reset"
          class="btn btn-danger"
          [class.]
          [disabled]="servers.length === 0"
          (click)="servers.length = 0">Reset servers
  </button>
  <ng-template #noServer>
    <p>No server was created...</p>
  </ng-template>
  <div *ngFor="let server of servers">
      <app-server [server]="server"></app-server>
  </div>
    <p *ngIf="lastServerCreated;else noServer">Last server created: {{ lastServerCreated }}</p>
  <p>Total servers: {{servers.length}}</p>
</div>
